html{
    background-color: cornflowerblue;
}
header, footer{
    background-color: rgb(114, 114, 114);
    color: blanchedalmond;
    text-align: center;
}
ul.navbar{
background-color: brown;

}
li.nav{
float: left;
font-size: 25px;
text-align: center;
}
.play{
border-style: solid;
border-color: whitesmoke;
background-color: burlywood;
color: black;
float: left;
margin: 10px 25px 50px 10px;
}
.sidebar{
border-style: solid;
border-color: whitesmoke;
background-color: blue;
color: aliceblue; 
text-align: center;
margin: 10px 25px 50px 10px;
}
.sidebar a:hover,
.navbar a:hover{
    background-color: blueviolet;
    color:black;
}